<!DOCTYPE html>
<html lang="en-us">

<head>

  <title>Crime Analysis Dashboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet" href="static/css/d3Style.css">

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

</head>

<style>
  * {box-sizing: border-box}
  body {font-family: Arial, Helvetica, sans-serif;}
  
  .navbar {
    width: 100%;
    background-color: rgb(74, 56, 233);
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four links of equal widths */
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  </style>
<body>
  <!-- Naviation Bar at top of page -->
  <div class="navbar">
    <a class="navbar-brand" style="background-color: rgb(74, 56, 233);" href="/">Home</a>
    <a class="nav-link" href="/visualizations">Visualizations</a>
    <a class="nav-link" href="/aboutus">About Us</a>
    <a class="nav-link" href="/resources">Resources</a>
  </div>
  <!-- End of Navagation Bar-->

  <!-- Start of landing page content -->
  <!-- Start of container -->
  <div class="container">
    <h1 class="description-header">National Crime Data 2018-2019</h1>
    <hr class="description-hr" />
 
    <h2>Introduction</h2>
    <p>  The FBI publishes annual reports on the status of law enforcement in the United States. 
      The report's definitions of specific crimes are considered standard by many American law enforcement agencies. According to the FBI, index crime in the United States includes violent crime and property crime. 
      Violent crime consists of five criminal offenses: murder and non-negligent manslaughter, rape, robbery, aggravated assault, and gang violence; 
      property crime consists of burglary, larceny, motor vehicle theft, and arson.</p>

      <p> Basic aspect of a crime considers the offender, the victim, type of crime, severity and level, and location. 
      These are the basic questions asked by law enforcement when first investigating any situation. This information is formatted into a government record by a police arrest report, also known as an incident report. 
      These forms lay out all the information needed to put the crime in the system and it provides a strong outline for further law enforcement agents to review. </p>
    <p>Our map and visualizations graphically depict the FBI crime data set spanning from 2018-2019.</p>
    
  <!-- The div that holds our map -->
  <!-- <div class="row">
        <div class="col-md-12"> -->
          <h2>National Crime Map</h2>
  <div class="mapcontainer" style="width:700px; height:700px; margin:left">
  <div id="mapid"></div>

  </div>


  <!-- Start of footer -->
  <footer class="footer navbar-fixed-bottom">
    <div class="two-toned-footer-color"></div>
    <p class="text-muted text-muted-footer text-center">
      &copy; Copyright USS Struggle 2021
    </p>
  </footer>
  <!-- End of footer -->
  <!-- Javascript Imports -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

  <script type="text/javascript" src="/static/js/config.js"></script>
  <script type="text/javascript" src="/static/js/statesdata.js"></script>
  <script type="text/javascript" src="/static/js/statesData2019.js"></script>
  <script type="text/javascript" src="/static/js/maplogic.js"></script>

  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!-- Popper JS-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</body>

</html>